{% extends "layout.njk" %} {% block content %}

<div class="container-fluid mt-5 d-flex justify-content-center lh-lg">
  <div class="row col-12 col-md-8">
    <h1 class="fw-normal col-12 col-md-8 mb-5">AWARDS AND ACCOLADES</h1>

    <p class="mb-5">
The Feed Factors team are very proud of the awards we have received in recognition of our excellence in the industry. We are especially proud of our Queens Award Acheivements.    </p>
  </div>
</div>

<div class="awards container">
  <div class="row justify-content-center align-items-center">
    <div class="card col-md-5 p-5">
      <img
        src="../public/images/awards/qa-sustainable.png"
        class="card-img p-2"
        alt=""
      />
      <div class="card-img-overlay"></div>
    </div>
    <div class="card col-md-5 p-5">
      <img
        src="../public/images/awards/qa-innovation.png"
        class="card-img p-2"
        alt=""
      />
      <div class="card-img-overlay"></div>
    </div>
    <div class="card col-md-3 p-5">
      <img src="../public/images/awards/wlb.png" class="card-img p-4" alt="" />
      <div class="card-img-overlay"></div>
    </div>
    <div class="card col-md-3 p-5">
      <img
        src="../public/images/awards/healthyworkplace.png"
        class="card-img p-2"
        alt=""
      />
      <div class="card-img-overlay"></div>
    </div>
    <div class="card col-md-3 p-5">
      <img src="../public/images/awards/lwf.png" class="card-img" alt="" />
      <div class="card-img-overlay"></div>
    </div>
  </div>
</div>


{% include 'partials/carousel.html' %}
{% include 'partials/map.html' %} 

{% endblock content %}
