{% extends "layout.njk" %} {% block content %}
<div class="index-title row justify-content-center mb-5">
  <h1 class="text-center col-md-6">
    CHARITY
    <span class="py-4 d-inline-block fs-6"
      >In support of Ukraine, Feed Factors Ltd and The Andersons Inc, proudly
      donated a ‘Teksan 95’ generator to help power a hospital; performing
      lifesaving operations and providing necessary medical care to the people
      of Ukraine.</span
    >
  </h1>
</div>
<div class="container-fluid hero-image">
  <div class="row mb-md-5 pb-md-5 justify-content-center">
    <img
      src="../public/images/charity/charity.jpg"
      alt=""
      srcset=""
      class="col-md-8 px-0"
    />
  </div>
</div>
<div class="container col-md-9 lh-lg">
  <div class="row justify-content-around">
    <h3 class="mt-5 pt-5 mt-md-0 pt-md-0 fs-2">WE ARE PROUD TO SUPPORT</h3>
    <div class="mt-5 col-md-5">
      <div class="mb-5 bg-white d-flex justify-content-center">
        <img
          src="../public/images/charity/princess-alice.png"
          class="col-9"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          Princess Alice Hospice in Esher is helping people live every moment to
          the fullest in comfort and dignity, creating a space whether in
          Hospice or at home where families can enjoy special moments and create
          precious memories together.
        </p>
      </div>
    </div>
    <div class="card mt-5 col-md-5">
      <div class="mb-5 bg-white d-flex justify-content-center">
        <img
          src="../public/images/charity/calm.png"
          class="col-7 p-4"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          Campaign Against Living Miserably (CALM) are taking a stand against
          suicide. That means standing against feeling shit, standing up to
          stereotypes and standing together to show life is always worth living.
        </p>
      </div>
    </div>
    <div class="card mt-5 col-md-5">
      <div class="mb-5 bg-white d-flex justify-content-center">
        <img
          src="../public/images/charity/thf.png"
          class="col-9 p-4"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          The Tim Henman Foundation delivers programmes to better the lives of
          vulnerable young people and focuses on education and health. They
          raise young people's aspirations through giving them access to new
          skills and opportunities, and providing them with the best and most
          sympathetic learning environment.
        </p>
      </div>
    </div>
    <div class="card mt-5 col-md-5">
      <div class="mb-5 bg-white d-flex justify-content-center">
        <img
          src="../public/images/charity/vineyard.png"
          class="col-9 p-3"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          The Vineyard Community Centre is a voluntary supported charity
          incorporating the Richmond Foodbank and Works of Love.
        </p>
      </div>
    </div>
    <div class="card mt-5 col-md-5">
      <div class="mb-5 bg-dark d-flex justify-content-center">
        <img
          src="../public/images/charity/uea.webp"
          class="col-4 p-1"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          The Urban Equestrian Academy ethos is focused on widening the
          participation of those with the least experience in the Equestrian
          world and also individuals/communities with the least access to it.
        </p>
      </div>
    </div>
    <div class="card mt-5 col-md-5">
      <div class="mb-5 bg-white d-flex justify-content-center">
        <img
          src="../public/images/charity/mind.png"
          class="col-8 p-3"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          Mind provides advice and support to empower anyone experiencing a
          mental health problem. We campaign to improve services, raise
          awareness and promote understanding.
        </p>
      </div>
    </div>
    <div class="card mt-5 col-md-5">
      <div class="mb-5 bg-white d-flex justify-content-center">
        <img
          src="../public/images/charity/gosh.jpg"
          class="col-8 p-3"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          Great Ormond Street has always depended on charitable support to give
          seriously ill children the best chance to fulfil their potential. A
          better future for seriously ill children starts here.
        </p>
      </div>
    </div>
    <div class="card mt-5 col-md-5">
      <div class="mb-5 bg-white d-flex justify-content-center">
        <img
          src="../public/images/charity/tsc.png"
          class="col-5 p-3"
          alt="..."
        />
      </div>
      <div class="">
        <p class="card-text">
          The Store Cupboard is a not for profit affordable food project with a
          shop located in West Ealing. Members of the Store Cupboard pay a £3.50
          weekly membership fee and can choose food including fresh fruit,
          vegetables, chilled and frozen goods as well as store cupboard
          staples.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
