<div class="accreditations">
  <div class="container">
    <div class="row">
      <div
        class="accr-content d-flex flex-column justify-content-center align-items-center p-5"
      >
        <h3 class="text-center p-5">ACCREDITATIONS</h3>

        <!-- CAROUSEL -->
        <div class="container text-center my-3">
          <div class="row mx-auto my-auto justify-content-center">
            <div
              id="accrCarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner" role="listbox">
                <div
                  class="carousel-item active align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/footer/gafta.png"
                          class="img-fluid col-md-8"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="carousel-item align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/awards/qa-innovation.png"
                          class="img-fluid col-md-4"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="carousel-item align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/footer/off.png"
                          class="img-fluid col-md-3"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="carousel-item align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/footer/gafta-pledge.png"
                          class="img-fluid col-md-4"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="carousel-item align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/footer/cfp.png"
                          class="img-fluid col-md-8"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="carousel-item align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/awards/qa-sustainable.png"
                          class="img-fluid col-md-4"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="carousel-item align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/footer/sedex.png"
                          class="img-fluid col-md-5"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
                <div
                  class="carousel-item align-items-center justify-content-center"
                  data-bs-interval="2000"
                >
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img
                          src="../public/images/footer/efisc.png"
                          class="img-fluid col-md-10"
                        />
                      </div>
                      <div class="card-img-overlay"></div>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="carousel-control-prev w-auto"
                type="button"
                data-bs-target="#accrCarousel"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon me-5 bg-dark rounded-3"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next w-auto"
                type="button"
                data-bs-target="#accrCarousel"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon ms-5 bg-dark rounded-3"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <!-- CAROUSEL ENDS -->
      </div>
    </div>
  </div>
</div>
