<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="footer-wrapper col-md-9">
          <div class="footer-info col-md-5 p-4 mb-4">
            <div class="info-content">
              <a href="/">
                <img
                  src="../public/images/footer/footer-logo.png"
                  alt=""
                  class="footer-logo col-8 col-md-7 my-4 mb-5"
                />
              </a>
              <div class="trading mb-3">
                <p>
                  <span class="gold">Trading Number:</span> +44 (0) 208 332 1550
                </p>
                <p>
                  <span class="gold">Trading email:</span>
                  trading@feedfactors.com
                </p>
              </div>
              <div class="admin">
                <p>
                  <span class="gold">Admin Number:</span> +44 (0) 208 332 1992
                </p>
                <p>
                  <span class="gold">Admin email:</span>
                  admin@feedfactors.com
                </p>
              </div>
            </div>
          </div>

          <div class="products-contact col-md-6 p-4 mt-5">
            <div class="row">
              <div class="products-contact-info col-md-6">
                <h5>PRODUCTS</h5>
                <a href="/organic">Organic</a>
                <a href="/petfood">Pet Food</a>
                <a href="/animalfeed">Non GM and Animal Feed</a>
                <a href="/ports">Ports and Storage</a>
              </div>
              <div class="products-contact-info col-md-6 mt-5 mt-md-0">
                <h5>CONTACT US</h5>
                <p>
                  Feed Factors Ltd, <br />
                  The Gallery, Whittaker Avenue, <br />
                  Richmond, TW9 1EH
                </p>

                <p><span>Tel:</span> <u>+44 (0) 208 332 1550</u></p>
                <p><span>Email:</span> trading@feedfactors.com</p>
              </div>
            </div>
          </div>

          <div class="socials col-4 col-md-1 mt-5">
            <a
              href="https://uk.linkedin.com/company/feed-factors-limited?original_referer=https%3A%2F%2Fwww.google.com%2F"
              ><img
                src="../public/images/footer/linkedin-logo.png"
                class="linkedin col-3"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-line p-4">
    <div class="container d-flex align-items-center justify-content-around">
      <div class="row justify-content-center col-md-8">
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/cookieconsent">Cookie Consent</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/privacy">Privacy</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/termsofuse">Terms of use</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/sustainability">Sustainability</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/humanrights">Human rights</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="../public/pdf/tax-strategy.pdf" target="_blank"
            >Tax strategy</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
